body{
    background: #352f5b;
  }
  .container{
    
    max-width: 400px;

  }
  input[type=text],
  input[type=text]:focus{    /* Focus when we click the form*/
    color: #fff;
    border: none;
    background: rgba(0,0,0,0.2);
    max-width: 400px;
  }
  .todos li{
    background: #423a6f;
  }
  .delete{
    cursor: pointer;
  }

  .wrapper{
      text-align: center;
  }

  

 

 .filtered{
      display: none !important; 
  }

  /*important overwrites everyother class it has. */